<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TexEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TexEditor.Properties.Settings>
            <setting name="CompilationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompilationTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CompilationChars" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentClass" serializeAs="String">
                <value>article</value>
            </setting>
        </TexEditor.Properties.Settings>
    </userSettings>
</configuration>